# *Training notebook* 
 This notebook has the purpose of training the Python introduction, given by the course located at: http://seriema.fcfrp.usp.br/elearn

##  1- Introduction to Jupyter Notebooks
 Jupyter notebook is an environment where you can use different source languages combined. To change the purpose of a cell from "code" to "markdown" you can go in the menu from the upper tab.

Using the command `alt-enter` you get a new cell 
`shift-enter` to execute your command and create a next cell.
`ctrl+enter` executes your cell, maintaining your cursor on the same cell.

The first exercise will be using the command `print`; where you can print a phrase in a code cell. for that use `print("yourphrase")`

In [1]:
print("I think it is going to rain!")

I think it is going to rain!

With `nameofobject?` such as `import collections
collections.namedtuple?` you get info and docstrings about your imput command.

To obtain quick references about IPython use `%quickref`

In [3]:
%quickref

When you intend to call a function, you can use the auto-complete tool in a code cell, just start typing a known function then press **Tab** button on your keyboard, it will get you automatically your function or a list of functions starting with the same letters of your function.

Imputing mathematical functions:

In [4]:
2154+14

2168

Calling previous output with `_` symbol. You can add double `__` or triple `___` to call an earlier output ("next previous")

In [6]:
_

2168

In [14]:
__*1000

2168000000000

Using `;` after your argument command suppresses your functions, and you can trace it back later using `_`. ***OBSERVATION: you must obtain your output first, before supressing it, if you don't, your function won't traceback your previous output correctly***

In [17]:
58445+8787;

In [19]:
_-10000

37232

In [22]:
139*139;

In [21]:
_+__

56553

You can manage your *Non-suppressed* outputs using the `Out[N]` onde N is the number of your command line, from where you obtained your output. Similary, you can manage your inputs with `In[N]`. If you want to obtain your suppressed outputs, you must know in which line it was obtained.

In [50]:
# Obtaining a suppressed output
Out[20]

19321

In [40]:
Out[19]

37232

In [53]:
In[22]

'139*139;'

In [57]:
# Now I'm trying to do math with the desired outputs;
Out[20]/Out[6]

8.91190036900369

In [59]:
Out[20]+Out[19]+10000

66553

In [60]:
Out[21]*10

565530

To see a history of your code insertions, use the *magic* function `%history`; You can choose your desired specific lines with `%history -n x-y`

In [52]:
%history

print("I think it is going to rain!")
%quickref
%quickref
2154+14
_
_
__*1000
__*1000
124+1814;
_
___
__*1000
__*1000
__*1000
58445+8787
_-10000
58445+8787;
_-10000
_-10000
139*139
_+__
139*139;
___
__
_
__
___
__
___
___
out[22]
=out[22]
Out[19]
Out[22]
Out[21]
_=Out[22]
_[22]==Out[22]
Out[17]
Out[19]
Out[19]
In[22]
In[22]
-i=
-i
_i=
_i
%history
%history -n 17-22
In[22]
# Obtaining a suppressed output
Out[20]
In[22]
%history

In [48]:
%history -n 17-22

  17: 58445+8787;
  18: _-10000
  19: _-10000
  20: 139*139
  21: _+__
  22: 139*139;

## Accessing your Jupyter Files

Through your notebook you are able to access your Jupyter files without leaving your command cell. With `!pwd` command, you can return the current working directory path.

In [2]:
!pwd

/home/herbarium

You define a name for your listing function with "=" symbol. The listing function/command is `!ls` with a `.` inserted next, you are accessing the listing on your current file. Then you are able to call your listing function using `print(nameofyfunction)` in this case, the name of your function will be **banana** for your home page directory and  **files** when accessing files from another directory.

In [11]:
banana = !ls . 
print(banana)

['Training notebook.ipynb', 'notebooks']

In [16]:
files = !ls /home/herbarium/notebooks/
print(files)

['0-Index.ipynb', '1-Introduction_to_Jupyter_Platform-Copy1.ipynb', '1-Introduction_to_Jupyter_Platform.ipynb', '2-Introduction_to_python_programming_language.ipynb', '2.1-Data_Structures.ipynb', '2.2-Logical_Operations.ipynb', '2.3-Control_Structures.ipynb', '2.4-Functions.ipynb', '3-NumPy_Library.ipynb', '4-Pandas_Library.ipynb', '5-Scikit-Learn_Library.ipynb', '6-Regression_Analysis.ipynb', '7-Classification_Analysis.ipynb', '8-Cluster_Analysis.ipynb', 'dados', 'figuras', 'log.py', 'short-tutorial.ipynb']

With `!echo` command, you can call back your named directories, listing the files inside of it.

In [14]:
!echo $banana

[Training notebook.ipynb, notebooks]

In [18]:
!echo $files

[0-Index.ipynb, 1-Introduction_to_Jupyter_Platform-Copy1.ipynb, 1-Introduction_to_Jupyter_Platform.ipynb, 2-Introduction_to_python_programming_language.ipynb, 2.1-Data_Structures.ipynb, 2.2-Logical_Operations.ipynb, 2.3-Control_Structures.ipynb, 2.4-Functions.ipynb, 3-NumPy_Library.ipynb, 4-Pandas_Library.ipynb, 5-Scikit-Learn_Library.ipynb, 6-Regression_Analysis.ipynb, 7-Classification_Analysis.ipynb, 8-Cluster_Analysis.ipynb, dados, figuras, log.py, short-tutorial.ipynb]

In [22]:
!echo {files[0]}

0-Index.ipynb

Changing your current working directory directly from the command line allows you to easily create or make alterations in the files. Use `%cd directorypathway`

In [32]:
%cd /home/herbarium/

/home/herbarium

In [33]:
files = !ls .
print(files)

['Training notebook.ipynb', 'notebooks']

Creating a new directory `%mkdir nameofdirectory`

In [ ]:
#I'VE CREATED A DIRECTORY NAMED herbariumtestdir

Another way to interact with your notebook directory is creating files right from the command line. Use the magic function `%%writefile nameofthefile.extension` . Text files can be written there, too.

In [55]:
%%writefile herbariumtest.txt

A test testing text texting

Overwriting herbariumtest.txt

In [41]:
files = !ls . 
print(files)

['Training notebook.ipynb', 'herbariumtest.txt', 'herbariumtestdir', 'notebooks']

Next, you can move files using `%mv file directory`

In [43]:
%mv herbariumtest.txt herbariumtestdir/

mv: cannot stat 'herbariumtest.txt': No such file or directory

In [45]:
files =!ls . 
print(files)

['Training notebook.ipynb', 'herbariumtestdir', 'notebooks']

Confirming the moved file, checking what is in the directory.

In [46]:
%cd herbariumtestdir/

/home/herbarium/herbariumtestdir

In [50]:
files =!ls .
print(files)

['herbariumtest.txt']

The `!cat` lists the contents of your text.

In [56]:
!cat herbariumtest.txt

A test testing text texting

## 2- Introduction to Python Programming Language

### Data structures

**Variables** are a referential object for which a value is attributed.
Variables are inputed as `variable = value`

 - They are case sensitive
 - They can not contain blank spaces

In [9]:
x = 2114
y = 5487
xy = "NikolaTesla"
z = x*y
print(x,y,xy,z)

2114 5487 NikolaTesla 11599518

Supporting many possible inputs, you can see the type of your input using `type(variable)` function

In [16]:
type(x)

int

`int` indicates your imput is an integer number.

In [17]:
n = 0.269
type(n)

float

`float` indicates your imput type is a floating point (fraction)

In [18]:
type(xy)

str

In [20]:
my_name = "Pedro"
type(my_name)

str

In [21]:
my_name[0], my_name[2:5]

('P', 'dro')

In [25]:
my_name + " sabão"

'Pedro sabão'

Boolean data type is a logical function, where your output has one of two possible values, defined later as `True` or `False`

In [28]:
error = 1.6
compare_value = error < 0.1
compare_value, type(compare_value)

(False, bool)

In [31]:
error > 0

True

**Type conversion**

 - No conversion

In [39]:
s1 = "Hey Kitty Girl!"
s2 = " It's your world!"
s1 + s2
type(s1), type(s2), type(s1 + s2)

(str, str, str)

 - Conversion (int to float)

In [42]:
a = 3
b = 14.78
c = a+b
type(a), type(b), type(c)

(int, float, float)

A way of mixing numbers and characters is changing your number type to `str` type, using `str(n)`

In [44]:
s1 + str(32745)

'Hey Kitty Girl!32745'

**Listing**
You can start a list with a box bracket. `[]`
 
 - `%int` for integer numbers
 - `%str` for string value
 - `%len` return the number of items in a container.
 - In python the first number when counting is 0 and the last is -1
 - You can change the signifying algarisms of your "function variable" `%f` by adding the number of signifying algarisms you want `%.1f` `%.2f` `%.3f`, etc

In [60]:
test_list = [1, 2, 3, 4, 5]
print( "The size of the list is : %i"% (len(test_list)) )
print( "The fourth element of the list is: %str"% (test_list[3]))
print( "The last element of the list is: %str"% (test_list[-1]))
print( "The sum of our list is %f" %(sum(test_list)))
print( "Altering magic function of signifying algarisms %.1f" %(sum(test_list)))

The size of the list is : 5
The fourth element of the list is: 4tr
The last element of the list is: 5tr
The sum of our list is 15.000000
Altering magic function of signifying algarisms 15.0

List with diffrent imput types:

In [75]:
a_list = [20, True, "bom", "bom"]
a_list

[20, True, 'bom', 'bom']

*Altering a list*

`%nameofoyourlist.pop(n)` removes the number indicated by it's reference index.

In [76]:
print(test_list)
print("pop %i number is out of the list"%test_list.pop(3))
print(test_list)

[1, 2, 3, 10, 10]
pop 10 number is out of the list
[1, 2, 3, 10]

`nameofyourlist.remove` removes the first value identical as the specified.

In [77]:
a_list.remove("bom")
print(a_list)

[20, True, 'bom']

`nameofyourlist.append` includes a single value in your function

In [79]:
print(test_list)
test_list.append (5)
print(test_list)

[1, 2, 3, 10, 5]
[1, 2, 3, 10, 5, 5]

List merging `firstlist.extend(secondlist)` or you can merge them using `first list + second list`

In [81]:
test_list.append(a_list)
print(test_list)

[1, 2, 3, 10, 5, 5, [20, True, 'bom'], [20, True, 'bom']]

In [82]:
test_list + a_list

[1, 2, 3, 10, 5, 5, [20, True, 'bom'], [20, True, 'bom'], 20, True, 'bom']

**Tuple listing** A tuple list is a list with fixed values, therefore they can not be modified. You start a tuple list with parenthesis `()`

In [3]:
a_tuple = (0, 1, 2, 3, 10)
print(a_tuple)
print("Tuples's first element: %i"%a_tuple[0])

(0, 1, 2, 3, 10)
Tuples's first element: 0

When creating a *tuple* with a single value, you must put your desired number with a comma, inside the parenthesis; If you don't insert the comma the language will interpret your tuple as a integer number,instead. **Correct notation**: `(n,)`

In [9]:
not_a_tuple = (1)
print(type(not_a_tuple))
a_single_numbered_tuple = (1,)
print(type(a_single_numbered_tuple))

<class 'int'>
<class 'tuple'>

**Creating dictionaries** Pairs key-value define your output that can be retrieved later on. You start an empty dictionary with braces `{}`, Creating, then a single or a set of outputs.

In [11]:
d = {}
d[1] = "apples"
d[2] = "cider"
d[3] = "juice" 
print(d)

{1: 'apples', 2: 'cider', 3: 'juice'}

In [13]:
print(d[1])

apples

In [16]:
grades = {'Me': 'A+', 'John': 'C', 'Lucas': 'A', 'Mary': 'B' }
grades['Lucas']

'A'

**Sets** (non-organized and non-indexed collections) of dictionaries can be compared.

In [17]:
places = {"House", "Office", "University Campus"}
print(places)
properties = {"Automobile", "House", "Cellphone", "Washing Machine"}
print(properties)

{'University Campus', 'House', 'Office'}
{'Washing Machine', 'Cellphone', 'Automobile', 'House'}

**Sets' connections**
`set_one.union(set_two)`
`set_one.intersection(set_two)`
`set_one - set_two`

In [19]:
places.union(properties)

{'Automobile',
 'Cellphone',
 'House',
 'Office',
 'University Campus',
 'Washing Machine'}

In [18]:
places.intersection(properties)

{'House'}

In [21]:
places - properties

{'Office', 'University Campus'}

### Logical Operations

**Operators**

*Relational operators*

 |Symbol| Operation |
 |-------|--------- |
 | ==   | "equals to" True, for two equal values |
 | !=   |"differs from" True for two non-equal values |
 | <    | Less-than  |
 | >    | Greater-than |
 | <=   | Less-than or equal to |
 | >=   | Greater than or equal to |

In [26]:
a = 21
b = 54
c = 0

In [27]:
a == b

False

In [29]:
a != c

True

In [30]:
b > a

True

In [32]:
c > b

False

In [33]:
c < a

True

*Logical operators*


 |Symbol | Operator |
 |-------|----------|
 |and | if both operators are true, the output will be `true` |
 |or  | if one operator is true, the output will be `true` |
 |not | reverts logical state of operand |

In [35]:
b > a and a > c

True

In [40]:
a == 0 or c == 0

True

In [42]:
a == 0 or b == 0

False

In [47]:
not c == 0

False

*Set operators* 

 |Symbol | Operator |
 |-------|----------|
 | in    | Returns `true` when left side operator is contained in right side operator |
 | not in | Returns `true` when left side operator is not contained in right side operator|

In [50]:
'House'in (places)

True

In [52]:
'Cellphone'not in (places)

True

In [54]:
'Office'not in (places)

False

In [55]:
'Washing Machine' not in (properties)

False

In [56]:
'University Campus' in (properties)

False

In [58]:
"g" in "flower"

False

In [59]:
"flow" in "flower"

True

In [61]:
"l" not in "flower"

False

In [62]:
"m" not in "flower"

True