In [1]:
x = 2

In [3]:
x * 7

14

In [6]:
x = 'Isso aqui eh '

In [8]:
x + 'Python!'

'Isso aqui eh Python!'

In [10]:
y=5

In [11]:
y/4

1.25

In [12]:
type(y/4)

float

In [13]:
1.5+1

2.5

In [14]:
'oi'+1

TypeError: must be str, not int

In [15]:
'oi'+'vc'

'oivc'

In [16]:
'oi'+str(1)

'oi1'

In [17]:
True

True

In [18]:
type(True)

bool

In [19]:
True and False

False

In [20]:
True or False

True

In [21]:
a = 1

In [22]:
a == 1

True

In [23]:
a != 1

False

In [24]:
1>10

False

In [26]:
2 >=0

True

In [27]:
s = 'Paulo'

In [28]:
s[0]

'P'

In [29]:
s[1
 ]

'a'

In [30]:
s[2]

'u'

In [31]:
s[3]

'l'

In [33]:
s[3]== 'l'

True

In [34]:
s[0]=='0'

False

  - Listing

In [45]:
lista_vazia = []
lista_de_numeros = [1, 2, 3, 4]
lista_de_caracteres = ['oi', 'tudo bem']
lisra_dif_tipos = [1, 3, 4.5, 'OI']

In [36]:
lista_vazia.append(3)

In [37]:
lista_vazia.append(1)
print(lista_vazia)

[3, 1]

In [38]:
lista_de_numeros[3]

4

In [39]:
la = [1,2,3,4,5,6]
la

[1, 2, 3, 4, 5, 6]

In [40]:
la[0]

1

In [41]:
la[-1]

6

In [42]:
la[-2]

5

In [43]:
la.append(7)
la

[1, 2, 3, 4, 5, 6, 7]

In [44]:
# POP EXCLUDES ELEMENTS BY IT'S INDEX
la.pop(0)

1

In [47]:
la[0:3]

[2, 3, 4]

In [52]:
# Control structures
terra = 'a terra eh redonda'

In [53]:
if terra == 'a terra eh plana':
    print('ah, nao falei!?')

In [54]:
terra == 'a terra eh plana'

False

In [56]:
if terra == 'a terra eh plana':
    print('ah, nao falei!?')
else:
    print('ufa, Pitagoras estava certo!')

ufa, Pitagoras estava certo!

In [78]:
# Loop structures
abc_xuxa = ['amor', 'baixinho', 'coracao', 'domino']
abc_xuxa

['amor', 'baixinho', 'coracao', 'domino']

In [85]:
abc_xuxa[0]

'amor'

In [87]:
abc_xuxa[3]

'domino'

In [80]:
elemento = abc_xuxa[0]

In [81]:
elemento[0]

'a'

In [82]:
for a in abc_xuxa:
    print(a)

amor
baixinho
coracao
domino

In [84]:
for a in abc_xuxa:
    if a[0]=='a':
        print('A de: ',a)
    elif a [0]=='b':
        print('B de: ', a)
    elif a[0] =='c':
        print('C de: ', a)
    elif a[0] == 'd':
        print('D de: ', a)
    else:
        print('letra nao encontrada')

A de:  amor
B de:  baixinho
C de:  coracao
D de:  domino

In [94]:
for a in abc_xuxa:
    if a[0] =='a':
        print('a de amor')
    else:
        print('sua letra eh: ' + a[0])

a de amor
sua letra eh: b
sua letra eh: c
sua letra eh: d

In [95]:
numero = 1
while numero < 200:
    print(numero)
    numero = numero * 2

1
2
4
8
16
32
64
128

In [96]:
numero

256

In [97]:
numero < 200

False

In [114]:
# Functions 
def nome_funcao(param1,param2):
    print('Parametro1: ', param1,'\nParametro2: ',  param2)

In [115]:
nome_funcao('Alo','Terezinha')

Parametro1:  Alo
Parametro2:  Terezinha

In [116]:
nome_funcao('oi', 'tchau')

Parametro1:  oi
Parametro2:  tchau

In [117]:
def minha_soma(a, b):
    c = a+b
    return c

In [118]:
minha_soma

In [119]:
minha_soma(5,6)

11

In [121]:
minha_soma('oi', ' e tchau')

'oi e tchau'

In [123]:
d = minha_soma(5, 6)
e= nome_funcao('oi', 'tchau')

Parametro1:  oi
Parametro2:  tchau

In [124]:
e

In [125]:
d

11

###  Data Structure

  - Variables

In [127]:
x = 2
y = 0.5 
xy = 'Oi'
z = x + y
print(x, y, xy, z)

2 0.5 Oi 2.5

In [128]:
type(x)

int

In [129]:
type(y)

float

In [131]:
x = 3
y = 3.0
print(type(x), type(y))

<class 'int'> <class 'float'>

In [133]:
z = x+y
type(z)

float

In [134]:
mp = 'queijo'
type(mp)

str

In [135]:
mp[0],mp[2:4]

('q', 'ei')

In [137]:
mp+ ' minas'

'queijo minas'

In [138]:
erro = 1.6
compare_resultado = erro < 0.1
compare_resultado, type(compare_resultado)

(False, bool)

In [139]:
erro>0

True

In [140]:
(erro>0)+2 # The variable 'erro' transforms itself in 1, which refers to boolean True

3

In [143]:
s1 = 'Sem problemas, '
s2= 'até mais...'
s1+s2

'Sem problemas, até mais...'

In [144]:
a = 3 
b = 2.7
c = a+b 
c

5.7

In [145]:
s1 + 3

TypeError: must be str, not int

In [146]:
s1 + str(3)

'Sem problemas, 3'

- Structures

**Lists**

In [158]:
uma_lista = [1,2,3]
print('O tamanho da lista é: %i' %len(uma_lista))
print('O terceiro elemento da lista é: %s'% uma_lista[2])
print('O último elemento da lista é: %s'% uma_lista[-1])
print('A soma da lista é : %.2f' %sum(uma_lista))

O tamanho da lista é: 3
O terceiro elemento da lista é: 3
O último elemento da lista é: 3
A soma da lista é : 6.00

In [155]:
b_lista = [20, True, 'bom', 'bom']
b_lista

[20, True, 'bom', 'bom']

In [159]:
print(uma_lista)
print('%i fora da lista'%uma_lista.pop(1) )
print(uma_lista)

[1, 2, 3]
2 fora da lista
[1, 3]

In [156]:
print('Remover o caractere "bom" da lista')
b_lista.remove('bom')
b_lista

Remover o caractere "bom" da lista

[20, True, 'bom']

In [160]:
uma_lista.append(10)
print('Depois de adicionar um novo valor, uma_lista agora é: %s'%(str(uma_lista)))

Depois de adicionar um novo valor, uma_lista agora é: [1, 3, 10]

In [161]:
uma_lista.extend(b_lista)
print('Fundindo uma_lista com b_lista: %s'%(str(uma_lista)))

Fundindo uma_lista com b_lista: [1, 3, 10, 20, True, 'bom']

In [162]:
uma_lista+b_lista

[1, 3, 10, 20, True, 'bom', 20, True, 'bom']

**Tuple**

In [163]:
uma_tuple= (1,2,3,10)
print(uma_tuple)
print('O primeiro elemento da tuple é: %i'%uma_tuple[0])

(1, 2, 3, 10)
O primeiro elemento da tuple é: 1

In [164]:
uma_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [168]:
outra_tuple=(1)
print(type(outra_tuple))
b_tuple=(1,)
print(type(b_tuple))

<class 'int'>
<class 'tuple'>

**Dictionaries**

In [166]:
d = {}
d[1] = '1 valor'
print(d)

{1: '1 valor'}

In [167]:
x= {'Eu':'meuemail@exemplo.com', 'Você':'seuemail@exemplo.com'}
x['Eu']

'meuemail@exemplo.com'

**Sets**

In [170]:
tipos_construcao={'casa', 'apartamento','predio'}
print(tipos_construcao)

{'apartamento', 'casa', 'predio'}

In [173]:
tipos_propriedades={'caminhao', 'carro', 'casa'}

In [174]:
tipos_propriedades - tipos_construcao

{'caminhao', 'carro'}

In [175]:
tipos_propriedades.union(tipos_construcao)

{'apartamento', 'caminhao', 'carro', 'casa', 'predio'}

In [176]:
tipos_propriedades.intersection(tipos_construcao)

{'casa'}

### Logical Operations

- Relational operands

In [177]:
a = 21
b = 10
c = 0

In [178]:
a == b

False

In [179]:
a !=b

True

In [180]:
a < b

False

In [181]:
a <= b

False

In [182]:
b >= a

False

- Logical operands

In [183]:
a > b and b>c

True

In [185]:
a==0 or c==0

True

In [186]:
a ==0 or b ==0

False

In [187]:
not a>b

False

In [188]:
not c<a

False

- Set operands

In [189]:
'P' in 'Python'

True

In [190]:
'Y' in 'Python'

False

In [191]:
'a' not in 'Python'

True

In [192]:
'o' not in 'Python'

False

### Control Structures

- Comparisons

In [193]:
3 == 5

False

In [194]:
72>=2

True

In [195]:
nome_loja = 'Casas Bahia'

In [196]:
nome_loja == 'Casas Bahia'

True

- If-Else

In [197]:
soma = 6
soma

6

In [198]:
if soma>5:
    print('A soma está acima de 5')

A soma está acima de 5

In [201]:
nome_bar = 'Bar do Sujo'

In [202]:
if 'Marcão' in nome_bar:
    print('Bar do Marcão')
else:
    print("O Bar não é do Marcão. É o "+nome_bar+".")

O Bar não é do Marcão. É o Bar do Sujo.

In [212]:
if soma == 0:
    print('A soma é 0')
elif soma<0:
    print('A soma é menor que 0')
else:
    print('A soma é maior que 0 e seu valor é: ' +  str(soma))

A soma é maior que 0 e seu valor é: 6

- For loop

In [215]:
for letra in nome_bar:
    print(letra)

B
a
r

d
o

S
u
j
o

In [216]:
print('range(5) retorna:' + str(list(range(5))))
print('Range(1,9) retorna:' + str(list(range(1,9))))

range(5) retorna:[0, 1, 2, 3, 4]
Range(1,9) retorna:[1, 2, 3, 4, 5, 6, 7, 8]

In [219]:
for indice in range(len(nome_bar)):
    print('A %ia letra no nome do bar é: %s' %(indice, nome_bar[indice]))

A 0a letra no nome do bar é: B
A 1a letra no nome do bar é: a
A 2a letra no nome do bar é: r
A 3a letra no nome do bar é:
A 4a letra no nome do bar é: d
A 5a letra no nome do bar é: o
A 6a letra no nome do bar é:
A 7a letra no nome do bar é: S
A 8a letra no nome do bar é: u
A 9a letra no nome do bar é: j
A 10a letra no nome do bar é: o

- While loop

In [220]:
x = 2
while x<10:
    print(x)
    x = x+1

2
3
4
5
6
7
8
9

In [221]:
nome_bar='Tiragosto'

In [223]:
indice = 0
while True:
    print(nome_bar[indice])
    indice +=1 
    if nome_bar[indice]== 'a':
        print('Terminei aqui')
        break
        print('Você imprimiu tudo!')

T
i
r
Terminei aqui

In [224]:
for letra in nome_bar:
    if letra == 'o':
        continue
    else:
        print(letra)

T
i
r
a
g
s
t

In [227]:
indice = 0
while indice <= len(nome_bar)-1:
    print(nome_bar[indice])
    if nome_bar[indice]=='o':
        print('Achei um "o"')
        indice +=1
        continue
    print('Não achei um "o"')
    indice+=1

T
Não achei um "o"
i
Não achei um "o"
r
Não achei um "o"
a
Não achei um "o"
g
Não achei um "o"
o
Achei um "o"
s
Não achei um "o"
t
Não achei um "o"
o
Achei um "o"

- List comprehension

In [229]:
lista = []
for num in range(0,9):
    if num % 2 == 0:
        lista.append(num)
lista

[0, 2, 4, 6, 8]

In [230]:
lista = [num for num in range(0,10) if num%2 ==0]
lista

[0, 2, 4, 6, 8]

- Try e except

In [232]:
try:
  print(f)
except NameError:
  print("A variável f não está definida")

A variável f não está definida

In [233]:
f = 'Agora sim'
try:
  print(f)
except NameError:
  print("A variável f não está definida")

Agora sim

In [234]:
try:
  print(w)
except NameError:
  print("A variável w não está definida")
finally:
  print("Não foi possível imprimir a variável")

A variável w não está definida
Não foi possível imprimir a variável

In [238]:
w = 'foca'
try:
  print(w)
except NameError:
  print("A variável w não está definida")
finally:
  print("Não foi possível imprimir a variável")

foca
Não foi possível imprimir a variável

- Iterators

In [237]:
minha_tuple = ("maçã", "banana", "goiaba")

for x in minha_tuple:
  print(x)

maçã
banana
goiaba

In [242]:
meuiterator= iter(minha_tuple)
print(next(meuiterator))
print(next(meuiterator))
print(next(meuiterator))

maçã
banana
goiaba

- Functions

In [243]:
range(5)

range(0, 5)

In [244]:
list(range(5))

[0, 1, 2, 3, 4]

In [246]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [248]:
d = {'a' : 100, 'c': 50, 'b':70}
sorted(d)

['a', 'b', 'c']

In [249]:
d

{'a': 100, 'c': 50, 'b': 70}

In [250]:
d['a']

100